{% extends "layout.html" %}
{% block head%}
{{super()}}
{% endblock %}
{% block content %}
<div class="container">
<h1>{{ _('Registered users') }}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ _('Nickname') }}</th>
            <th>{{ _('Email') }}</th>
            <th>{{ _('Last seen') }}</th>
            <th>{{ _('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users|sort(attribute="last_seen")|reverse %}
        <tr {% if user.activation_key != ""  %}class="warning"{% endif %}>
            <td>{{ loop.index }}</td>
            {% if user.id == current_user.id %}
                <td><a href="/management">{{ user.nickname }}</a> (It's you!)</td>
            {% else %}
                <td><a href="/admin/user/{{ user.id }}">{{ user.nickname }}</a></td>
            {% endif %}
            <td><a href="mailto:{{ user.email }}">{{ user.email  }}</a></td>
            <td class="date">{{ user.last_seen }}</td>
            <td>
                <a href="/admin/user/{{ user.id }}"><i class="glyphicon glyphicon-user" title="{{ _('View this user') }}"></i></a>
                <a href="/admin/edit_user/{{ user.id }}"><i class="glyphicon glyphicon-edit" title="{{ _('Edit this user') }}"></i></a>
                {% if user.id != current_user.id %}
                    {% if user.activation_key == "" %}
                        <a href="/admin/disable_user/{{ user.id }}"><i class="glyphicon glyphicon-ban-circle" title="Disable this account"></i></a>
                    {% else %}
                        <a href="/admin/enable_user/{{ user.id }}"><i class="glyphicon glyphicon-ok-circle" title="Enable this account"></i></a>
                    {% endif %}
                    <a href="/admin/delete_user/{{ user.id }}"><i class="glyphicon glyphicon-remove" title="{{ _('Delete this user') }}" onclick="return confirm('{{ _('You are going to delete this account.') }}');"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="/admin/create_user" class="btn btn-default">{{ _('Add a new user') }}</a>
<h1>{{ _('Send notification messages') }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}

    {{ form.subject.label }}
    {{ form.subject(class_="form-control") }} {% for error in form.subject.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

    {{ form.message.label }}
    {{ form.message(class_="form-control", rows=8) }} {% for error in form.message.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

    <br />
    {{ form.submit(class_="btn btn-default") }}
</form>
</div>
{% endblock %}
