{% if feeds.all()| count == 0 %}
  <h1>{{_("No feed")}}</h1>
{% else %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ _('Status') }}</th>
                <th>{{ _('Title') }}</th>
                <th>{{ _('Site') }}</th>
                <th>{{ _('Articles') }}</th>
                <th>{{ _('Actions') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for feed in feeds|sort(attribute="title") %}
            <tr {% if not feed.enabled  %}class="warning"{% endif %}>
                <td>{{ loop.index }}</td>
                <td>
                    {% if feed.enabled  %}
                        <i class="glyphicon glyphicon-eye-open" title="{{ _('Feed enabled') }}"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-eye-close" title="{{ _('Feed disabled') }}"></i>
                    {% endif %}
                    {% if feed.error_count >= conf.DEFAULT_MAX_ERROR %}
                        <i class="glyphicon glyphicon-exclamation-sign" title="{{ _('Feed encountered too much errors.') }}"></i>
                    {% endif %}
                </td>
                <td><a href="{{ url_for("feed.feed", feed_id=feed.id) }}" {% if feed.description %}title="{{ feed.description  }}"{% endif %}>
                    {% if feed.icon_url %}<img src="{{ url_for('icon.icon', url=feed.icon_url) }}" width="16px" />{% endif %}
                    {{ feed.title }}
                </a></td>
                <td><a href="{{ feed.site_link }}">{{ feed.site_link }}</a></td>
                <td>( {{ unread_article_count.get(feed.id, 0) }} ) {{ article_count.get(feed.id, 0) }}</td>
                <td>
                    <a href="{{ url_for("home", feed_id=feed.id, filter_="all") }}"><i class="glyphicon glyphicon-th-list" title="{{ _('Articles') }}"></i></a>
                    <a href="{{ url_for("feed.form", feed_id=feed.id) }}"><i class="glyphicon glyphicon-edit" title="{{ _('Edit this feed') }}"></i></a>
                    <a href="/duplicates/{{ feed.id }}"><i class="glyphicon glyphicon-book" title="{{ _('Duplicate articles') }}"></i></a>
                    <a href="{{ url_for("feed.delete", feed_id=feed.id) }}"><i class="glyphicon glyphicon-remove" title="{{ _('Delete this feed') }}" onclick="return confirm('{{ _('You are going to delete this feed.') }}');"></i></a>
                </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
