{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>{{ _('History') }}</h1>
    {% if month != None %}
        <h2><a href="/history/{{ year }}"><span class="glyphicon glyphicon-chevron-left"></span> {{ year }}</a></h2>
        <h3>{{ month | month_name }}</h3>
    {% elif year != None %}
        <h2><a href="/history"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp{{ _('all years') }}</a></h2>
        <h3>{{ year }}</h3>
    {% endif %}
    <ul class="list-group">
    {% for article in articles_counter %}
        {% if year == None %}
            <li class="list-group-item"><a href="/history/{{ article }}">{{ article }}</a> : {{ articles_counter[article] }} articles</li>
        {% elif month == None %}
            <li class="list-group-item"><a href="/history/{{ year }}/{{ article }}">{{ article | month_name  }}</a> : {{ articles_counter[article] }} articles</li>
        {% else %}
            {% for article in articles | sort(attribute="date", reverse = True) %}
                <li class="list-group-item">{{ article.date | datetime }} - <a href="/article/{{ article.id }}">{{ article.title | safe }}</a></li>
            {% endfor %}
        {% endif %}
     {% endfor %}
     </ul>
</div><!-- /.container -->
{% endblock %}
