{% extends "layout.html" %}
{% block content %}
{% if feeds|count == 0 %}
    <div class="col-md-4 col-md-offset-4">
        <h1>{{ _("You don't have any feeds.") }}</h1>
        <h1><a href="{{ url_for("feed.form") }}">{{ _('Add some') }}</a>, {{ _('or') }} <a href="/management">{{ _('upload an OPML file.') }}</a></h1>
    </div>
{% else %}
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-2 sidebar sidebar-offcanvas pre-scrollable affix hidden-sm hidden-xs" id="sidebar" role="navigation" data-spy="affix" style="max-height: 100%;">
            <ul class="nav nav-sidebar" data-offset-top="0" data-offset-bottom="0">
                <li><a href="{{ gen_url(feed_id=0) }}">
                    {% if not feed_id %}<b>{% endif %}
                    {{ _('All feeds') }} <span id="total-unread" class="badge pull-right">{{ articles.__len__() }}</span>
                    {% if not feed_id %}</b>{% endif %}
                </a></li>
            {% for fid, nbunread in unread|dictsort(by='value')|reverse %}
                <li class="feed-menu"><a href="{{ gen_url(feed_id=fid) }}">
                    {% if feed_id == fid %}<b>{% endif %}
                        {% if in_error.get(fid, 0) > 0 %}
                            <span style="background-color: {{ "red" if in_error[fid] > conf.DEFAULT_MAX_ERROR -1 else "orange" }} ;" class="badge pull-right" title="Some errors occured while trying to retrieve that feed.">{{ in_error[fid] }} {{ _("error") }}{% if in_error[fid] > 1 %}s{% endif %}</span>
                        {% endif %}
                        <span id="unread-{{ fid }}" class="badge pull-right">{{ nbunread }}</span>
                        {{ feeds[fid]|safe }}
                    {% if feed_id == fid %}</b>{% endif %}
                </a></li>
                <li class="feed-commands"><span>
                    <a href="/feed/{{ fid }}"><i class="glyphicon glyphicon-info-sign" title="{{ _('Details') }}"></i></a>
                    <a href="{{ url_for("feed.form", feed_id=fid) }}"><i class="glyphicon glyphicon-edit" title="{{ _('Edit this feed') }}"></i></a>
                    <a href="{{ url_for("feed.delete", feed_id=fid) }}"><i class="glyphicon glyphicon-remove" title="{{ _('Delete this feed') }}" onclick="return confirm('{{ _('You are going to delete this feed.') }}');"></i></a>
                    <a href="{{ url_for("feed.update", feed_id=fid, action="read") }}"><i class="glyphicon glyphicon-check" title="{{ _('Mark this feed as read') }}"></i></a>
                    <a href="{{ url_for("feed.update", feed_id=fid, action="unread") }}"><i class="glyphicon glyphicon-unchecked" title="{{ _('Mark this feed as unread') }}"></i></a>
                </span></li>
            {% endfor %}
            {% for fid, ftitle in feeds|dictsort(case_sensitive=False, by='value') if not fid in unread %}
                <li class="feed-menu"><a href="{{ gen_url(feed_id=fid) }}">
                    {% if in_error.get(fid, 0) > 0 %}
                        <span style="background-color: {{ "red" if in_error[fid] > conf.DEFAULT_MAX_ERROR - 1 else "orange" }} ;" class="badge pull-right" title="Some errors occured while trying to retrieve that feed.">{{ in_error[fid] }} {{ _("error") }}{% if in_error[fid] > 1 %}s{% endif %}</span>
                    {% endif %}
                    {% if feed_id == fid %}<b>{% endif %}
                        {{ ftitle|safe }}
                    {% if feed_id == fid %}</b>{% endif %}
                </a></li>
                <li class="feed-commands"><span>
                    <a href="{{ url_for("feed.feed", feed_id=fid) }}"><i class="glyphicon glyphicon-info-sign" title="{{ _('Details') }}"></i></a>
                    <a href="{{ url_for("feed.form", feed_id=fid) }}"><i class="glyphicon glyphicon-edit" title="{{ _('Edit this feed') }}"></i></a>
                    <a href="{{ url_for("feed.delete", feed_id=fid) }}"><i class="glyphicon glyphicon-remove" title="{{ _('Delete this feed') }}" onclick="return confirm('{{ _('You are going to delete this feed.') }}');"></i></a>
                    <a href="{{ url_for("feed.update", feed_id=fid, action="read") }}"><i class="glyphicon glyphicon-check" title="{{ _('Mark this feed as read') }}"></i></a>
                    <a href="{{ url_for("feed.update", feed_id=fid, action="unread") }}"><i class="glyphicon glyphicon-unchecked" title="{{ _('Mark this feed as unread') }}"></i></a>
                </span></li>
            {% endfor %}
            </ul>
        </div><!-- row -->

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="col-md-offset-2 col-md-10 main">
                    {% block messages %}
                        {{ super() }}
                    {% endblock %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="col-md-offset-2 col-md-10 main">
            <div id="filters" data-filter="{{ filter_ }}">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li id="tab-all"><a href="{{ gen_url(filter_='all') }}">{{ _('All') }}</a></li>
                    <li id="tab-read"><a href="{{ gen_url(filter_='read') }}">{{ _('Read') }}</a></li>
                    <li id="tab-unread"><a href="{{ gen_url(filter_='unread') }}">{{ _('Unread') }}</a></li>
                    <li id="tab-nbdisplay" class="pull-right">
                        <div id="nbdisplay">
                            <a href="{{ gen_url(limit=10) }}" class="label {% if limit == 10 %}label-primary{% else %}label-info{% endif %}">{{ _(10) }}</a>
                            <a href="{{ gen_url(limit=100) }}" class="label {% if limit == 100 %}label-primary{% else %}label-info{% endif %}">{{ _(100) }}</a>
                            <a href="{{ gen_url(limit=1000) }}" class="label {% if limit == 1000 %}label-primary{% else %}label-info{% endif %}">{{ _(1000) }}</a>
                            <a href="{{ gen_url(limit='all') }}" class="label {% if limit == 'all' %}label-primary{% else %}label-info{% endif %}">{{ _('All') }}</a>
                        </div>
                    </li>
            </div>
            {% if articles | count != 0%}
                <div class="table-responsive">
                    <table class="table table-striped strict-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th><a href="{{ gen_url(sort_='-feed' if sort_ == 'feed' else 'feed') }}">{{ _('Feed') }}</a></th>
                                <th><a href="{{ gen_url(sort_='-article' if sort_ == 'article' else 'article') }}">{{ _('Article') }}</a></th>
                                <th><a href="{{ gen_url(sort_='-date' if sort_ == 'date' else 'date') }}">{{ _('Date') }}</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in articles %}
                            <tr data-article="{{ article.id }}" data-feed="{{ article.feed_id }}">
                                <td>
                                    <a><i class="glyphicon glyphicon-remove delete" title="{{ _('Delete this article') }}"></i></a>
                                    {% if article.like %}
                                        <a><i class="glyphicon glyphicon-star like" title="{{ _('One of your favorites') }}"></i></a>
                                    {% else %}
                                        <a><i class="glyphicon glyphicon-star-empty like" title="{{ _('Click if you like this article') }}"></i></a>
                                    {% endif %}
                                    {% if article.readed %}
                                        <a><i class="glyphicon glyphicon-unchecked readed" title="{{ _('Mark this article as unread') }}"></i></a>
                                    {% else %}
                                        <a><i class="glyphicon glyphicon-check readed" title="{{ _('Mark this article as read') }}"></i></a>
                                        {% if filter_ == 'all' %}</b>{% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="open-article" href="{{ url_for("article.redirect_to_article", article_id=article.id)}}" target="_blank" title="{{article.link}}" alt="{{article.link}}">
                                  {% if article.source.icon_url %}
                                    <img src="{{ url_for('icon.icon', url=article.source.icon_url) }}" width="16px" />
                                  {% else %}
                                    <span class="glyphicon glyphicon-ban-circle" title='{{_("No icon found for this feed")}}' alt='{{_("No icon found for this feed")}}'></span>
                                  {% endif %}
                                  <span class="hidden-xs">{{ article.source.title|safe }}</span></a></td>
                                <td {%if filter_ == 'all' and article.readed == False %}style='font-weight:bold'{% endif %}>
                                    <a href="{{ url_for("article.article", article_id=article.id) }}">{{ article.title|safe }}</a>
                                </td>
                                <td class="date">{{ article.date|datetime }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div><!-- row -->
    </div><!-- main -->
</div><!-- container-fluid -->
<style>.not-at-home {display: none};</style>
{% endif %}
{% endblock %}
